extends  ../_skeleton

//- Includes
include  ../elements/_ui-box-icon-type-3
include ../elements/_ui-material-parallax

//-Title
block title
  title= cfg.nav.aboutUs.title

//- Page
block page

  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.aboutUs,
    cfg.nav
    )


  // Breadcrumbs
  section.context-dark( data-preset!={ title: 'Breadcrumbs', category : 'breadcrumbs, parallax', reload: true, id: 'breadcrumbs'})
    +material-parallax({ img: 'images/background-03-1920x640.jpg' })
      .bg-overlay-info
        .container.section-34.section-md-85.text-lg-left
          div.d-none.d-md-block.d-lg-inline-block
            h1 About Us
          div.pull-lg-right.offset-md-top-10.offset-lg-top-20
            ul.p.list-inline.list-inline-dashed
              li.list-inline-item
                a(href= cfg.nav.home.href) Home
              li.list-inline-item About Us

  // Who We Are
  section.section-98.section-md-110.novi-background( data-preset!={ title: 'Content block 3', category : 'content', reload: false, id: 'content-block-3'})
    .container
      .row.justify-content-sm-center
        .col-md-9.col-xl-6.order-xl-6
          img.img-fluid.mx-auto.d-block(src="images/about-01-570x380.jpg" width="570" height="380" alt="")
        .col-md-9.col-xl-6.col-xl-pull-6.text-left.offset-top-66.offset-xl-top-0.inset-xl-right-30
          h1.text-center.text-xl-left Who We Are
          hr.divider.bg-mantis.hr-xl-left-0
          p We are a fully private dental clinic offering high-quality teeth straightening, cosmetic, and general dental treatments. Our team of more than 20 professionals is highly trained to serve our patients’ needs.
          p We use the latest technologies to offer you the best possible dental solutions, including  3D computer imaging with low-radiation X-rays and soft-tissue lasers.  In addition, we offer advanced pain-free techniques to ensure your comfort.

  // Medical Team
  section.section-98.section-md-110.bg-polar.novi-background( data-preset!={ title: 'Team block', category : 'content', reload: false, id: 'team-block'})
    .container
      h1 Medical Team
      hr.divider.bg-mantis
      .row.justify-content-sm-center.text-xl-left
        .col-md-5.col-xl-3
          img(src="images/user-mark-hoffman-269x270.jpg" width="269" height="270" alt="")
          div.offset-top-24
            h5.text-info
              a(href="team-member.html") Dr. Mark Hoffman
          div.offset-top-4
            p.text-dark Dentist
          div.offset-top-20
            p Our clinic's Chief Medical, Dr. Mark Hoffman has been working in this field of medical specialization since 2002. He has been obtaining his chief position at our clinic since 2010.

        .col-md-5.col-xl-3.offset-top-41.offset-md-top-0
          img(src="images/user-leslie-gross-270x270.jpg" width="270" height="270" alt="")
          div.offset-top-24
            h5.text-info
              a(href="team-member.html") Leslie Peterson
          div.offset-top-4
            p.text-dark Dental Hygienist
          div.offset-top-20
            p Ms. Peterson is an experienced specialist with many years of expertise in dental hygiene. Her work is concentrated on helping Dr. Hoffman with the treatment of their clients.

        .col-md-5.col-xl-3.offset-top-41.offset-xl-top-0
          img(src="images/user-dana-sims-270x270.jpg" width="270" height="270" alt="")
          div.offset-top-24
            h5.text-info
              a(href="team-member.html") Dana Sims
          div.offset-top-4
            p.text-dark Practice Nurse
          div.offset-top-20
            p As our Practice Nurse, Dana works within the community, planning and providing nursing care, treatment, and health education for clients of all ages.

        .col-md-5.col-xl-3.offset-top-41.offset-xl-top-0
          img(src="images/user-kimberly-barker-270x270.jpg" width="270" height="270" alt="")
          div.offset-top-24
            h5.text-info
              a(href="team-member.html") Kimberly Barker
          div.offset-top-4
            p.text-dark Patient Services Manager
          div.offset-top-20
            p Kimberly coordinates, plans, and manages patient service activities complying with the standards of our dental clinic, while introducing new trends of patient care.

  // Why choose Intense?
  section.section-98.section-md-110.novi-background
    .container
      h1 Why choose Intense?
      hr.divider.bg-mantis
      .row.justify-content-center.grid-group-md.text-lg-left.offset-top-50.offset-xl-top-66
        .col-md-9.col-lg-4
          +box-icon-type-3("icon-xs text-info mdi mdi-eye", "Our vision", "text-uppercase font-weight-bold", "We see modern dentistry in creating and developing a community where everyone has access to dental care services.")
        .col-md-9.col-lg-4
          +box-icon-type-3("icon-xs text-info mdi mdi-star", "Our mission ", "text-uppercase font-weight-bold", "To improve the overall health of local residents and guests of the area by providing free preventative dental care.")
        .col-md-9.col-lg-4
          +box-icon-type-3("icon-xs text-info mdi mdi-hospital", "Our approach", "text-uppercase font-weight-bold", "The approach of Intense dental clinic is based on a reasonable treatment plan created together by the dentist and patient.")

  // Contact Us
  section.context-dark( data-preset!={ title: 'Contact form', category : 'content, form, parallax', reload: true, id: 'contact-form'})
    +material-parallax({ img: 'images/background-02-1920x955.jpg' })
      .bg-overlay-info
        .container.section-98.section-md-110
          h1 Contact Us
          hr.divider.bg-white
          .row.justify-content-md-center
            .col-md-9.col-lg-8
              // RD Mailform
              form.rd-mailform.text-left(data-form-output="form-output-global", data-form-type='contact', method='post', action='bat/rd-mailform.php')
                .row.row-form
                  .col-xl-6
                    .form-group
                      label.form-label.form-label-outside(for="about-me-first-name") First Name
                      input#about-me-first-name.form-control(type="text" name="first name" data-constraints="@Required")
                  .col-xl-6.offset-top-20.offset-xl-top-0
                    .form-group
                      label.form-label.form-label-outside(for="about-me-last-name") Last Name
                      input#about-me-last-name.form-control(type="text" name="last name" data-constraints="@Required")
                  .col-xl-12.offset-top-20
                    .form-group
                      label.form-label.form-label-outside(for="about-me-email") E-Mail
                      input#about-me-email.form-control(type="email" name="email" data-constraints="@Required @Email")
                  .col-xl-12.offset-top-20
                    .form-group
                      label.form-label.form-label-outside(for="about-me-message") Message
                      textarea#about-me-message.form-control(name="message" data-constraints="@Required" style="height: 150px;")
                .row.justify-content-sm-center.offset-top-30.text-center
                  .col-sm-8.col-lg-6.col-xl-4
                    .inset-left-20.inset-right-20
                      button(type="submit").btn.btn-block.btn-primary Send

  // Page Footer
  include ../sections/_section-footer
