extends  ../_skeleton

//- Includes
include ../elements/_ui-material-parallax
include ../elements/_widget-form-search

//- Title
block title
  title Search Results

//- Page
block page
  // Page Head
  header.page-head
    //- RD Navbar
    +rd-navbar-top-panel(
    'rd-navbar-light',
    {
      "data-lg-auto-height": "true",
      "data-md-layout": 'rd-navbar-fixed',
      "data-lg-layout": 'rd-navbar-static',
      "data-lg-stick-up": 'true'
    },
    cfg.brand.logoInverse,
    cfg.nav.blog.submenu.blogPost,
    cfg.nav
    )

  // Breadcrumbs
  section.context-dark
    +material-parallax({ img: 'images/background-03-1920x640.jpg' })
      .bg-overlay-info
        .container.section-34.section-md-85.text-lg-left
          div.d-none.d-md-block.d-lg-inline-block
            h1 Search Results
          div.pull-md-right.offset-md-top-10.offset-lg-top-20
            ul.p.list-inline.list-inline-dashed
              li.list-inline-item
                a(href= cfg.nav.home.href) Home
              li.list-inline-item Search Results

  section.container.section-top-98.novi-background( data-preset!={ title: 'Search', category : 'search', reload: true, id: 'search'})

    +widget-form-search("input-sm", "form-label-sm", "search-results")

    .rd-search-results.offset-top-66

  .container.container-wide.offset-top-66
    hr.hr.bg-gray-lightest

  // Page Footers
  include ../sections/_section-footer
