//- Comment Box
//- type - comment box type
//- image - {image} object
//- date - comment date
//- title - comment author
//- body - comment body
mixin box-comment(type, image, date, title, body)
  // Box Comment
  .box-comment.text-left(class=type)
    .media
      .media-left
        img.rounded-circle.box-comment-img(src= image.src alt= image.alt width= image.width height= image.height)
      .media-body
        header.box-comment-header.unit.flex-column.unit-spacing-xs.unit-md.flex-lg-row.flex-lg-row-reverse.align-items-lg-center.justify-content-lg-end.novi-excluded
          .unit-left(class= type ==="box-comment-outboxed" ? "flex-grow-1": "")
            ul.box-comment-meta.list-inline.list-inline-sm.text-dark
              li.list-inline-item
                span.box-comment-icon.mdi.mdi-clock.novi-icon
                time(datetime="2018-01-01")= date
              li.list-inline-item
                a(href="#like") #[span.novi-icon.box-comment-icon.mdi.mdi-thumb-up-outline] Like
              li.list-inline-item
                a(href="#reply") #[span.novi-icon.box-comment-icon.mdi.mdi-message-outline] Reply
          .unit-body
            h6.box-comment-title=  title

        section.box-comment-body.novi-excluded
          p= body
    block

