//
// Media Objects custom
// --------------------------------------------------

.media-left,
.media-right {
  z-index: 1;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

@include media-breakpoint-up(sm) {
  .media-right,
  .media > .pull-right {
    padding-left: 20px;
  }

  .media-left,
  .media > .pull-left {
    padding-right: 20px;
  }
}
